mat-form-field {
    width: 100%;
    max-width: 400px;
}

table {
    width: 100%;
}

td>span {
    padding: 0 15px;
    white-space: nowrap;
}

.bold {
    font-weight: 500;
}

mat-spinner {
    position: relative;
    top: 50px;
    display: table;
    margin: 0 auto;
}

tr:hover {
    background-color: #1112;
}

.hover-normal:hover {
    background-color: #1113 !important;
}

.wraper {
    white-space: normal !important;
    overflow: hidden;
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}