html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}

/* .form-job>div>.mat-form-field-flex, .form-address>div>.mat-form-field-flex {
    border: #FFF solid 2px;
} */

.form-job>div>.mat-form-field-underline, .form-address>div>.mat-form-field-underline {
    display: none;
}

.form-job>div>.mat-form-field-flex {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
    /* background-color: #FFFD; */
}

/* .form-address>div>.mat-form-field-flex {
    margin-left: -2px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 5px;
} */

/* .radio-button>.mat-radio-label {
    padding: 12px 0;
} */

.larger-icons {
    transform: scale(1.3);
}

.col-xs-12 {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .col-xs-12 {
        width: 100%;
    }
}

.spacer {
    flex: 1 1 auto;
}

.cursorPointer {
    cursor: pointer;
}
.logo {
    outline: none;
    cursor: pointer;
}
